name: Build iOS IPA

on:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - run: flutter pub get
      
      - run: flutter build ios --release --no-codesign
      
      - name: Create IPA
        run: |
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload
          zip -r ios_app.ipa Payload
          
      - uses: actions/upload-artifact@v4
        with:
          name: ios-ipa
          path: ios_app.ipa
